/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    color: var(--third-color);
    font-family: var(--font-family);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    background-color: var(--third-color);
}


#mqTablet,
#mqDesktop {
    display: none;
}

#mqMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.cntLogo,
#menuPhone {
    width: 50%;
}

.cntLogo a img {
    width: 150px;
}

#iconbarMobileOpen {
    font-size: 28px;
    color: rgb(49, 49, 49);
    cursor: pointer;
}


#sideBarMobile {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

#sideBarMobile.open {
    transform: translateX(0);
}


#sideBarTopMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-basis: 10%;
    padding: 20px 10px;
}

#sideBarMobile div img {
    width: 120px;
}

#sideBarMobile div i {
    font-size: 28px;
    color: var(--third-color);
    cursor: pointer;
}

#sideBarContentMobile {
    margin-top: 20px;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 80%;
}

#sideBarContentMobile li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 0;
}

#sideBarContentMobile li:hover {
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
    box-shadow: 0 6px 6px rgba(85, 85, 85, 0.1);
}

#sideBarContentMobile li a {
    text-decoration: none;
    color: var(--third-color);
    font-size: 18px;
    font-weight: 550;
    padding-left: 20px;
    display: block;
}



#sideBarBottomMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-basis: 10%;
    gap: 10px;
    padding: 50px 0;
}